<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="../js/vue.min.js"></script>
	<link rel="stylesheet" href="../css/newtable.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>banner</title>
	<style>
		#table table {
			width: 100%;
			font-size: 14px;
			border: 1px solid #eee
		}

		#table {
			padding: 10px 10px;
		}

		table thead th {
			background: #f5f5f5;
			padding: 10px;
			text-align: left;
		}

		table tbody td {
			padding: 10px;
			text-align: left;
			border-bottom: 1px solid #eee;
			border-right: 1px solid #eee;
		}

		table tbody td img {
			width: 60px;
			height: 60px;
		}

		table tbody td span {
			margin: 0 10px;
			cursor: pointer;
		}

		.delete {
			color: red;
		}

		.edit {
			color: #008cd5;
		}

		.add {
			border: 1px solid #eee;
			margin: 10px 0;
			padding: 15px;
		}

		input {
			border: 1px solid #ccc;
			padding: 5px;
			border-radius: 3px;
			margin-right: 15px;
		}

		button {
			background: #5b9bd1;
			border: 0;
			padding: 4px 15px;
			border-radius: 3px;
			color: #fff;
		}

		#mask {
			background: rgba(0, 0, 0, .5);
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 4;
			top: 0;
			left: 0;
		}

		.mask {
			width: 300px;
			height: 450px;
			background: rgba(255, 255, 255, 1);
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			z-index: 47;
			border-radius: 5px;
		}

		.title {
			padding: 10px;
			border-bottom: 1px solid #eee;
		}

		.title span {
			float: right;
			cursor: pointer;
		}

		.content {
			padding: 10px;
		}

		.content input {
			width: 270px;
			margin-bottom: 15px;
		}

		.zzjz {
			position: fixed;
			top: 0;
			left: 0;
			background: #000;
			opacity: 0.3;
			width: 100%;
			height: 200%;
			text-align: center;
			line-height: 500px;
			color: #fff;
			font-size: 20px;
		}

		/* 隔行变色 */
		#table tr:nth-child(even) {
			background-color: #f3f4f6;
		}

		/* 标题 */
		.biaoti {
			font-size: 16px;
			color: #5c9acf;
		}

		/* 表格文字颜色 */
		.neirong {
			color: #999999;
		}

		/* 搜索按钮 */
		.sousuo {
			float: right;
		}
	</style>
</head>

<body style="background-color:#e9ecf3;">
	<!-- 头部 -->
	<div class="top_abc">
		
	</div>
	<!-- 左侧菜单栏 -->
	<div class="left_abc">
	</div>
	<!-- 右边显示区域 -->
	<div class="tablele" style="display:none;">
		<div id="table">
			<div class="add">
				
                标题：<input style="padding-left: 10px;letter-spacing: 2px;" type="text" v-model="addDetail.title" placeholder="请输入文字">
                图片跳转链接：<input id="link" style="padding-left: 10px;letter-spacing: 2px;" type="text" v-model="addDetail.link" placeholder="请输入链接">
                

                上传banner图：<input id="add_img" type="file" accept="image/*" name="multerFile" class="multerFile" multiple style="display:inline-block;"/>
				<button @click="adddetail">新增banner</button>
			</div>
			<table cellpadding="0" cellspacing="0">
				<thead class="biaoti">
					<tr>
						<th>序号</th>
						<th>标题</th>
                        <th>图片地址</th>
                        <th>跳转链接</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="neirong">
					<tr v-for="(item,index) in newsList">
						<td width="15%">{{index+1}}</td>
						<td width="15%">{{item.title}}</td>
                        <td width="15%">{{item.imgaddr}}</td>
                        <td width="15%">{{item.link}}</td>
						<td width="15%"><span @click="deletelist(item.id,index)" class="delete">删除</span><span
								class="edit" @click="edit(item,index)">编辑</span></td>
					</tr>
				</tbody>
			</table>
			<div id="mask" v-if="editlist">
				<div class="mask">
					<div class="title">
						编辑
						<span @click="editlist=false">
							X
						</span>
					</div>
					<div class="content">
						标题:<input type="text" v-model="editDetail.title" name="title" value="" placeholder="标题" />
						<!-- <textarea v-model='editDetail.text'> </textarea> -->
						图片连接:
						<div class="pick">
							<button class="link">上传连接</button><button class="wenjian" style="margin-left:5px;">上传文件</button>
						</div>
						<input class="edit_link" type="text" v-model="editDetail.imgaddr" name="img" value="" placeholder="图片连接" />
						<input id="edit_img" type="file" accept="image/*" name="multerFile" class="multerFile" multiple style="display:none;"/>
						跳转连接(视频标题):
						<select @change="pickLink" id="pickLink" style="width: 100%;" onfocus="selectFocus()">
							<option v-for="(item,index) in allVideo" :data-id="item.id" :data-type="item.type" onclick="selectClick()">
								{{item.title}}
							</option>
						</select>
						<input type="text" class="xiugai" v-model="editDetail.link" name="img" value="" placeholder="跳转连接" />
						<!-- <input id="edit_img" type="file" name="multerFile" class="multerFile" :data-img="editDetail.img"
							multiple @change='imgEdit' :data-index="editDetail.index"> -->
						<!-- <input type="text" v-model="editDetail.img" name="img"> -->
						<button @click="update">更新</button>
						<button @click="editlist=false">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/cookie.js"></script>
	<script src="../js/axios.js"></script>
	<script>
		
		var user=localStorage.getItem("user");
		var password=localStorage.getItem("password");
		if(!user){
			window.location.href="./login.html";
		}

		var save;
		var editImg;
		var editIndex;
		var app = new Vue({
			el: '#table',
			data: {
				addDetail: {},
				editlist: false,
				editDetail: {},
				src: '',
				newsList: [{}],
				editid: '',
				allVideo:{}
			},
			created: function () {
				$(".tablele").show()
				axios
					.get('http://192.168.1.186:8093/data',{params:{"dataDase":"sino","table":"bumber"}})
					.then(response => (
						console.log(response.data),
						this.newsList=response.data));
					
					
					
					axios
					.get('http://192.168.1.186:8093/data',{params:{"dataDase":"test","table":"Sino"}})
					.then(response => (
						this.allVideo=response.data,
							console.log(this.allVideo)
						
						))
			
					
			},

			mounted() {
				// axios
				// 	.get('http://192.168.1.186:8093/data')
				// 	.then(response => (this.newsList = response.data))
				// }
				// var m=this;
				// 	console.log(this)
				// 	$.ajax({
				// 		url:"http://192.168.1.186:1000/data",
				// 		type: "GET",
				// 		dataType:"json",
				// 		context: this, // 把vue实例传过去或者使用箭头函数
				// 		success: function(res){
				// 		// console.log(res[1]);
				// 		this.newsList=res;
				// 		console.log(this.newsList);
				// 		},error:function(data){
				// 			console.log(data)
				// 		}
				// 	})
			},

			methods: {
				// 图片
				imgAdd() {
					var oFReader = new FileReader();
					var file = document.getElementById('add_img').files[0];
					oFReader.readAsDataURL(file);
					oFReader.onloadend = function (oFRevent) {
						// $('img').attr('src',src);

						$("body").append("<div class='zzjz'>正在加载...</div>");
						setTimeout(function () {
							$(".zzjz").remove();
							save = oFRevent.target.result;
						}, 500)

					}
					console.log(this.data.newsList)
				},
				imgEdit(index) {
					var oFReader2 = new FileReader();
					var file2 = document.getElementById('edit_img').files[0];
					oFReader2.readAsDataURL(file2);
					oFReader2.onloadend = function (oFRevent) {
						// $('img').attr('src',src);

						$("body").append("<div class='zzjz'>正在加载...</div>");
						setTimeout(function () {
							$(".zzjz").remove();
							editImg = oFRevent.target.result;
						}, 500)

					}
				},
				// 链接
				pickLink(){
					var newLink='http://192.168.1.186:8080/view/play.html?canshu='+$('#pickLink option:selected').data("type")+'&&id='+$('#pickLink option:selected').data("id");;
					$(".xiugai").val(newLink)
					console.log(editIndex)
					// this.editDetail[editIndex].link=newLink;
					this.editDetail.link=newLink;
					
				},
				//新增
				adddetail() {
                    var fileList_name=document.getElementById("add_img").files[0];
					var fileList = $('#add_img')[0].files;
                    var imgUrl = "../img/" + fileList[0].name;
                    console.log(fileList_name)
                    if(fileList_name == undefined){
                        alert("请上传banner")
                        return false;
                    }else{
                        //获取上传文件的文件名
                    }
					//这里的思路应该是把this.addDetail传给服务端，然后加载列表this.newsList
                    //this.newsList.push(this.addDetail)
                    var link=$("#link").val();
                    console.log(link)
					this.newsList.push({
						id: this.newsList.length+1,
						title: this.addDetail.title,
                        imgaddr: fileList_name.name,
                        link:link
					})
                    console.log(this.newsList)
                    console.log(this.newsList.length)
								   var formData = new FormData();
   
								   formData.append('singleFile', fileList[0]);
                                   formData.append('index', this.newsList.length)
                                   formData.append('title', this.newsList[this.newsList.length-1].title)
                                   formData.append('link', link)
								//    type 0图片 1视频
								//    formData.append('type', 0)
								   console.log(formData);
								   
								   $.ajax({
									   url: 'http://192.168.1.186:8093/upload/banner',
									   type:'post',
									   data: formData,
									   processData:false,
									   contentType:false,
                                       cache:false,
                                       async: false,
									   success: function(data){
											console.log(data);
											window.location.reload();
									   },error:function(data){
										   console.log(data)
									   }
								   })
                    

					// axios.get('192.168.1.145:8080/',{"a":1}).then((res) =>{
					// // 若返回正确结果，清空新增输入框的数据
					// // this.addDetail.title = ""
					// // this.addDetail.user = ""
					// // this.addDetail.text = ""
					// console.log("成功")
					// })


				},
				//删除
				deletelist(id, i) {
						
						console.log(id)
						//这边可以传id给服务端进行删除  ID = id
								$.ajax({
									   url: 'http://192.168.1.186:8093/delData',
									   data:{
										id:id,
										database:"sino",
										table:"bumber"
									   },
									   type:'get',
									   success: function(data){
										   console.log("删除成功");
										   window.location.reload();
									   },error:function(data){
										   console.log("删除失败")
									   }
								})
						this.newsList.splice(i, 1);
						
					},
				//编辑
				edit(item, index) {
					editIndex = index;
					this.editDetail = {
						id: item.id,
						title: item.title,
                        imgaddr: item.imgaddr,
                        link: item.link
					}
					this.editlist = true
					this.editid = item.id
					editImg = item.img;
                    // editIndex=item.id;
                    console.log(editIndex)

				},
				//确认更新
				update() {
					//编辑的话，也是传id去服务端
					//axios.get('url',{ID:id}).then((res) =>{
					//			加载列表				
					//})
					console.log(editIndex + "a")
					if (editImg == undefined || editImg == "undefined") {

						editImg = this.newsList[editIndex].img;
					}//else if(){
					// 	editImg="";
					// }
					let _this = this

					_this.newsList[editIndex] = {
						title: _this.editDetail.title,
						imgaddr: _this.editDetail.imgaddr,
						link:_this.editDetail.link,
						id: this.editid,
						isLink:1
					}
					this.editlist = false


					
					$.ajax({
						url: 'http://192.168.1.186:8093/banner/edit',
						type: 'get',
						dataType: "json",
						data:_this.newsList[editIndex],
						success: function (data) {
							console.log(data)
						}, error: function (data) {
							console.log(data)
						}
					})

					var fileList = $('#edit_img')[0].files;
           						console.log(_this.newsList[editIndex].id)
								   var formData = new FormData();
   
								   formData.append('singleFile', fileList[0]);
								   formData.append('index', _this.newsList[editIndex].id)
								//    type 0图片 1视频
								//    formData.append('type', 0)
								   
								   if(fileList[0]==undefined){
									console.log(fileList[0]);
								   }else{
									$.ajax({
									   url: 'http://192.168.1.186:8093/banner/up',
									   type:'post',
									   data: formData,
									   processData:false,
									   contentType:false,
									   cache:false,
									   success: function(data){
											console.log(data);
											window.location.reload();
									   },error:function(data){
										   console.log(data)
									   }
								   })

								   _this.newsList[editIndex].imgaddr=fileList[0].name;
								   }
								   
								   

				}
			}
		})
		// 跳转
		function tz() {

			window.location.href = 'addnews.html';

		}
	</script>
</body>
<script src="../js/jquery-2.1.4.min.js"></script>
<script>
	$("body").on("click",".pick .wenjian",function(){
		$(".edit_link").hide();
		$("#edit_img").show();
		$(".pick button").removeClass("click");
		$(this).addClass("click")
	})
	$("body").on("click",".pick .link",function(){
		$("#edit_img").hide();
		$(".edit_link").show();
		$(".pick button").removeClass("click");
		$("#edit_img").val("");
		$(this).addClass("click")
	})
	// 首页
	$(".shouye").click(function () {
		$(".sy").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// 上传
	$(".shangchuan").click(function () {
		$(".sc").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// 屏幕宽度小于1200时的上传
	$(".up").click(function () {
		$(".sc").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// 用户信息
	$(".user").click(function () {
		$(".yh").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// VIP信息
	$(".vip").click(function () {
		$(".hy").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});



	// 将左侧菜单页面请求过来
	$.ajax({
		url: "../common/leftmenu.html",
		type: "get",
		success: function (data) {
			// console.log(data)
			$(".left_abc").html(data)
			// console.log(data)
		}
	})
	// 将顶部导航页面请求过来
	$.ajax({
		url: "../common/daohang.html",
		type: "get",
		success: function (data) {
			// console.log(data)
			$(".top_abc").html(data)
			// console.log(data)
		}
	})

	function selectFocus(){ 
document.getElementById("pickLink").setAttribute("size","5"); 
} 
//点击添加size属性
function selectClick(){ 
document.getElementById("pickLink").removeAttribute("size"); 
document.getElementById("pickLink").blur(); 
}
</script>


</html>