<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="../js/vue.min.js"></script>
	<link rel="stylesheet" href="../css/newtable.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<title>上传</title>
	<style>
		#table table {
			width: 100%;
			font-size: 14px;
			border: 1px solid #eee
		}

		#table {
			padding: 10px 10px;
		}

		table thead th {
			background: #f5f5f5;
			padding: 10px;
			text-align: left;
		}
		table tbody td {
			padding: 10px;
			text-align: left;
			border-bottom: 1px solid #eee;
			border-right: 1px solid #eee;
		}

		table tbody td img {
			width: 60px;
			height: 60px;
		}

		table tbody td span {
			margin: 0 10px;
			cursor: pointer;
		}

		.delete {
			color: red;
		}

		.edit {
			color: #008cd5;
		}

		.add {
			border: 1px solid #eee;
			margin: 10px 0;
			padding: 15px;
		}

		input {
			border: 1px solid #ccc;
			padding: 5px;
			border-radius: 3px;
			margin-right: 15px;
		}

		button {
			background: #5b9bd1;
			border: 0;
			padding: 4px 15px;
			border-radius: 3px;
			color: #fff;
		}

		#mask {
			background: rgba(0, 0, 0, .5);
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 4;
			top: 0;
			left: 0;
		}

		.mask {
			width: 300px;
			height: 670px;
			background: rgba(255, 255, 255, 1);
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			z-index: 47;
			border-radius: 5px;
		}

		.title {
			padding: 10px;
			border-bottom: 1px solid #eee;
		}

		.title span {
			float: right;
			cursor: pointer;
		}

		.content {
			padding: 10px;
		}

		.content input {
			width: 270px;
			margin-bottom: 15px;
		}

		.zzjz {
			position: fixed;
			top: 0;
			left: 0;
			background: #000;
			opacity: 0.3;
			width: 100%;
			height: 200%;
			text-align: center;
			line-height: 500px;
			color: #fff;
			font-size: 20px;
		}

		/* 隔行变色 */
		#table tr:nth-child(even) {
			background-color: #f3f4f6;
		}

		/* 标题 */
		.biaoti {
			font-size: 16px;
			color: #5c9acf;
		}

		/* 表格文字颜色 */
		.neirong {
			color: #999999;
		}

		/* 搜索按钮 */
		.sousuo {
			float: right;
		}

		/* content下的文本框样式 */
		.content textarea {
			width: 97%;
			border-radius: 3px;
		}

		/* 输入链接 */
		.shurulj {
			height: 37px;
		}

		/* 上传方式按钮 */
		.shangchuanfs .bendi {
			
		}
		.shangchuanfs .click{
			background-color: #5b9bd1;
			color: white;
		}
		video{
			display : none;
		}
	</style>
</head>

<body style="background-color:#e9ecf3;">
	<!-- 头部 -->
	<div class="top_abc">
	</div>
	<div class="left_abc">
		<!-- 左边菜单栏 -->

	</div>
	<!-- 右边显示区域 -->
	<div class="tablele" style="display:none;">
		<div id="table">
			<div class="add">
				<div class="sousuo">
					<input type="text" placeholder="请输入搜索内容">
					<span class="glyphicon glyphicon-search"></span>
				</div>
				<!-- <input type="text" v-model="addDetail.title" name="title" value="" placeholder="标题" />
                    <input type="text" v-model="addDetail.user" name="user" value="" placeholder="发布人" />
                    <textarea name="text" value="" placeholder="文本" v-model="addDetail.text" /></textarea>
                    <input style="float:left;" type="file" v-model="addDetail.src" name="multerFile" class="multerFile"  multiple  @change='imgAdd' id="add_img"> -->
				<button onclick="tz()">新增</button>
			</div>
			<table cellpadding="0" cellspacing="0">
				<thead class="biaoti">
					<tr>
						<th>序号</th>
						<th>视频标题</th>
						<th>副标题</th>
						<th>封面</th>
						<th>发布人</th>
						
						<th>视频地址</th>
						<th>权重</th>
						<th>试看时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="neirong">
					<tr v-for="(item,index) in newsList">
						<td width="5%">{{index+1}}</td>
						<td width="15%">{{item.title}}</td>
						<td width="15%">{{item.text}}</td>
						<td><img :src="item.imgname" :data-img="item.imgname"></td>
						<td width="15%">{{item.user}}</td>
						
						<td width="15%">{{item.vedio}}</td>
						<td width="5%">{{item.weight}}</td>
						<td width="20%">{{item.limitTime}}</td>
						<td width="10%"><span @click="deletelist(item.id,index)" class="delete">删除</span><span
								class="edit" @click="edit(item,index)">编辑</span><div class="son"></div></td>
					</tr>
				</tbody>
			</table>
			<div id="mask" v-if="editlist">
				<div class="mask">
					<div class="title">
						编辑
						<span @click="editlist=false">
							X
						</span>
					</div>
					<div class="content">
						视频标题:<input type="text" v-model="editDetail.title" name="title" value="" placeholder="视频标题" />
						副标题:<textarea v-model="editDetail.text" name="content" value="" placeholder="副标题"> </textarea>
						<!-- 封面 -->
						上传封面：<input id="edit_img" type="file" accept="image/*" name="multerFile" class="multerFile" :data-img="editDetail.img" multiple @change='imgEdit' :data-index="editDetail.index"/>
						<!-- 视频上传 -->

						<div class="shangchuanfs">
							<input class="bendi click" type="button" name="本地视频" value="本地视频">
							<input class="lianjie" type="button" name="输入链接" value="输入链接">
						</div>

						上传视频：<input id="edit_video" type="file" name="multerFile" class="multerFile multerfile_abc"
							:data-video="editDetail.vedio" multiple @change='imgEdit' :data-index="editDetail.index">

						<input style="display:none;" id="video_2" class="shurulj" type="text" v-model="editDetail.vedio"
							name="address" value="" placeholder="输入链接"  @change="editLink"/>

						<!-- <input type="file" accept="video/*" name="multerFile" class="multerFile" multiple @change='videoAdd'id="videoAdd"> -->
						<!-- <input type="text" v-model="editDetail.img" name="img"> -->
						<!-- <input  type="text" v-model="editDetail.address" name="address" value="" placeholder="视频地址"> -->
						试看时间:<input type="text" class="sktime" onkeyup="check2(this.value)" name="shikan" v-model="editDetail.limitTime" value="" placeholder="试看时间">
						发布人:<input type="text" v-model="editDetail.user" name="user" value="" placeholder="发布人" />
						权重:<input type="text" class="quanzhong" onkeyup="check(this.value)" v-model="editDetail.weight" name="weight" value="" placeholder="权重 0-200" />
						<button @click="update">更新</button>
						<button @click="editlist=false">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/cookie.js"></script>
<script src="../js/axios.js"></script>
<script>
	var isLink=0;
	var user=localStorage.getItem("user");
		var password=localStorage.getItem("password");
		if(!user){
			window.location.href="./login.html";
		}
	var index_;
			var save;
			var editImg;
			var editIndex;

			$("#updata").submit(function(event){
				var event = event || window.event;
				event.preventDefault(); // 兼容标准浏览器
				window.event.returnValue = false; // 兼容IE6~8
				return false;
			});
			var app = new Vue({
				el: '#table',
				data: {
					addDetail: {},
					editlist: false,
					editDetail: {},
					src:'',
					newsList: [],
					editid:''
				},
				created: function () {
					function getParam(paramName) {
					paramValue = "", isFound = !1; 
					if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) { 
						arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0; 
						while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
					} 
					return paramValue == "" && (paramValue = null), paramValue 
				} 

				// 类型筛选,减轻服务器负担
				function filterByType(aim, type) {
    			return aim.filter(item => item.type == type)
				}

				var canshu=getParam("canshu")
					axios
					.get('http://192.168.1.186:8093/data',{params:{"dataDase":"test","table":"Sino"}})
					.then(response => (
						this.newsList=filterByType(response.data,canshu) ,
							console.log(this.newsList)
						
						))
			
					},
					
            
				mounted() {
					$(".tablele").show();
					// axios
					// 	.get('http://192.168.1.186:8093/data')
					// 	.then(response => (this.newsList=response.data))
					// }
					// var m=this;
					// 	console.log(this)
					// 	$.ajax({
					// 		url:"http://192.168.1.186:1000/data",
					// 		type: "GET",
					// 		dataType:"json",
					// 		context: this, // 把vue实例传过去或者使用箭头函数
					// 		success: function(res){
					// 		// console.log(res[1]);
					// 		this.newsList=res;
					// 		console.log(this.newsList);
					// 		},error:function(data){
					// 			console.log(data)
					// 		}
					// 	})
					},
				
				methods: {
					// 图片
					imgAdd(){
						var oFReader = new FileReader();
						var file = document.getElementById('add_img').files[0];
						oFReader.readAsDataURL(file);
						oFReader.onloadend = function(oFRevent){
							// $('img').attr('src',src);
							
							$("body").append("<div class='zzjz'>正在加载...</div>");
							setTimeout(function(){
								$(".zzjz").remove();
								save=oFRevent.target.result;
							},500)

						}
					},
					imgEdit(index){
						var oFReader2 = new FileReader();
						var file2 = document.getElementById('edit_img').files[0];
						oFReader2.readAsDataURL(file2);
						oFReader2.onloadend = function(oFRevent){
							// $('img').attr('src',src);
							
							$("body").append("<div class='zzjz'>正在加载...</div>");
							setTimeout(function(){
								$(".zzjz").remove();
								editImg=oFRevent.target.result;
							},500)

						}
					},
					editLink(){
						isLink=1;
					},
					//删除
					deletelist(id, i) {
						
						console.log(id)
						//这边可以传id给服务端进行删除  ID = id
								$.ajax({
									   url: 'http://192.168.1.186:8093/delData',
									   data:{
										id:id,
										database:"test",
										table:"Sino"
									   },
									   type:'get',
									   success: function(data){
										   console.log("删除成功")
										   window.location.reload();
									   },error:function(data){
										   console.log("删除失败")
									   }
								})
						this.newsList.splice(i, 1);
						
					},
					//编辑
					edit(item,index) {
						editIndex=item.id;
						index_=index;
						this.editDetail = {
							title: item.title,
							user: item.user,
							text: item.text,
							id: item.id,
							img: item.img,
							limitTime:item.limitTime,
							vedio:item.vedio,
							weight:item.weight
						}
						this.editlist = true
						this.editid = item.id
						editImg=item.img;
						// editIndex=item.id;
						
					},
					//确认更新
					update(e) {
						console.log(e)
						$("#updata").attr("disable",true)
						// 阻止表单默认提交
						e.preventDefault();
						//编辑的话，也是传id去服务端
						//axios.get('url',{ID:id}).then((res) =>{
						//			加载列表				
						//})
						console.log(editIndex)
						console.log(index_)
						if(editImg==undefined || editImg=="undefined"){

							editImg=this.newsList[editIndex].img;
						}//else if(){
						// 	editImg="";
						// }
						var video_link=$("#video_2").val();
						if(!video_link || video_link==""){
							// video_link==this.newsList[editIndex].vedio;
						}
						let _this= this
						
								_this.newsList[index_] = {
									title: _this.editDetail.title,
									user: _this.editDetail.user,
									text: _this.editDetail.text,
									img:editImg,
									id: this.editid,
									limitTime:_this.editDetail.limitTime,
									vedio:video_link,
									weight:_this.editDetail.weight
								}
								console.log(this.newsList)
								this.editlist = false
										$.ajax({
												url: 'http://192.168.1.186:8093/edit',
												type:'get',
												data: {
													"index":_this.newsList[index_].id,
													"user":_this.newsList[index_].user,
													"title":_this.newsList[index_].title,
													"text":_this.newsList[index_].text,
													"limitTime":_this.newsList[index_].limitTime,
													"vedio":_this.newsList[index_].vedio,
													"weight":_this.newsList[index_].weight,
													"isLink":isLink
												},
												success: function(data){
													console.log(data)
													if(isLink==1){
														$("#update").attr("disabled",false);
														window.location.reload();
													}
													
												},error:function(data){
													console.log(data)
												}
											})
						

								   var fileList = $('#edit_img')[0].files;
           						
								   var formData = new FormData();
   
								   formData.append('singleFile', fileList[0]);
								   formData.append('index', editIndex)
								//    type 0图片 1视频
								//    formData.append('type', 0)
								   console.log(formData);
								   
								   $.ajax({
									   url: 'http://192.168.1.186:8093/upload/single',
									   type:'post',
									   data: formData,
									   processData:false,
									   contentType:false,
									   cache:false,
									   success: function(data){
											console.log(data);
									   },error:function(data){
										   console.log(data)
									   }
								   })
									
								   var fileList2 = $('#edit_video')[0].files;
           						
								   var formData2 = new FormData();
   
								   formData2.append('singleFile', fileList2[0]);
								   formData2.append('index', editIndex-1);
								   $.ajax({
									   url: 'http://192.168.1.186:8093/upload/video',
									   type:'post',
									   data: formData2,
									   xhr: function(){
											var xhr = $.ajaxSettings.xhr();
											if(onprogress && xhr.upload) {
												xhr.upload.addEventListener("progress" , onprogress, false);
												return xhr;
											}
										},
									   processData:false,
									   contentType:false,
									   cache:false,
									//    async:false,
									   success: function(data){
											console.log(data);
											window.location.reload();
									   },error:function(data){
										   console.log(data)
									   }
								   })

								   function onprogress(evt){
										var loaded = evt.loaded;     //已经上传大小情况
										var tot = evt.total;      //附件总大小
										var per = Math.floor(100*loaded/tot);  //已经上传的百分比
										$(".son").html("");
										$(".son").eq(index_).html("上传进度"+per +"%" );
										console.log(per)
									}
									
								// axios
								// .post('http://192.168.1.186:8093/upload/single',formData)
								// .then(response => (console.log("成功")))
								
						
					}
				}
			})
	// 跳转
	function tz() {

		window.location.href = 'add.html';

	}
</script>
<script>
	// 首页
	$(".shouye").click(function () {
		$(".sy").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// 上传
	$(".shangchuan").click(function () {
		$(".sc").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// 屏幕宽度小于1200时的上传
	$(".up").click(function () {
		$(".sc").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// 用户信息
	$(".user").click(function () {
		$(".yh").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});
	// VIP信息
	$(".vip").click(function () {
		$(".hy").fadeToggle();
		//   $("#div2").fadeToggle("slow");
		//   $("#div3").fadeToggle(3000);
	});



	// 将左侧菜单页面请求过来
	$.ajax({
		url: "../common/leftmenu.html",
		type: "get",
		success: function (data) {
			// console.log(data)
			$(".left_abc").html(data)
			// console.log(data)
		}
	})
	// 将顶部导航页面请求过来
	$.ajax({
		url: "../common/daohang.html",
		type: "get",
		success: function (data) {
			// console.log(data)
			$(".top_abc").html(data)
			// console.log(data)
		}
	})
	// 上传按钮样式切换
	$("body").on("click",".shangchuanfs input",function(){
		$(".shangchuanfs input").removeClass("click");
		$(this).addClass("click");
		//    console.log($(this).val())
		// if ($(this).val() == "本地视频") {
		// 	$(".shangchuanfs input").removeClass("lianjie");
		// } else if ($(this).val() == "输入链接") {
		// 	$(this).addClass("lianjie");

		// }
	})

	$("body").on("click",".lianjie",function(){
		console.log(21)
		$(".multerfile_abc").hide();
		$(".shurulj").show();
	})
	$("body").on("click",".bendi",function(){
		console.log(21)
		
		$(".multerfile_abc").show();
		$(".shurulj").hide();
		// $(".shurulj").val("");
	})	
</script>

</html>